<div class="bg-white p-6 border shadow-sm bg-white rounded-md relative overflow-hidden">
    <span class="absolute -top-16 -left-16 bg-purple-700 p-8 rotate-45 w-28 h-28"></span>
    <span class="absolute top-3 left-3 bg-purple-700 p-4 rounded-full border-2 border-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
        </svg>
    </span>
    <div class="ml-20">
        <span class="flex items-baseline gap-2 mb-4">
            <h3 class="text-lg font-semibold">Inbound Phone Call</h3>
            <p class="text-slate-400 text-sm">Created by <span class="font-semibold">Username</span> on 22/01/2022 at 10:34 </p>
        </span>
        <p class="text-slate-700">Customer called for a progress update. Explained that we woud be sending her a path to resolution letter within the next 3 days. </p>
    </div>
</div>