<li class="mb-10 ml-8">

<%# Letter Title %>
    <%# Due date eg "x + 30 days" %>
    <%# What questions need to show when expanded? %>
    <%# Has letter been sent? Add tick/bg to circle %>

    <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#1696AF] rounded-full ring-4 ring-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
    </span>
    <span class="flex justify-between">
        <span class="flex items-center gap-2 mb-4">
<%# This color will be different depending on if sent/not sent %>
            <h3 class="text-lg font-semibold text-slate-500"><%= @letter_title %></h3>
        </span>
        <span>
            <%= render(ButtonComponent.new(type: :outline).with_content("View Letter")) %>
        </span>
    </span>
    <time class="block mb-2 text-sm font-normal leading-none text-slate-400">Sent 4 days ago</time>
</li>